
# https://developer.hashicorp.com/nomad/docs/configuration

datacenter = "__DATA_CENTER__"

log_level = "INFO"

# defaults
ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}

# https://developer.hashicorp.com/nomad/tutorials/transport-security/security-enable-tls
tls {
  http = true
  rpc = true
  verify_server_hostname = true
  verify_https_client = false
}
